<ion-header>
  <ion-toolbar>
    <ion-title>
      Criptomoedas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: linear-gradient(rgba(197, 184, 245, 0.3), rgba(202, 216, 245, 0.3))">
  
  <ion-img src="/assets/imagem/cryptocurrency.png" alt="Imagem sobre criptomoedas"></ion-img>

  <h1>O que são Criptomoedas?</h1>
  <p>
    Criptomoedas são moedas digitais descentralizadas que utilizam criptografia para segurança e controle da criação de novas unidades. Elas operam independentemente de bancos centrais e governos.
  </p>

  <h2>Características principais:</h2>
  <ul>
    <li>Descentralização</li>
    <li>Transparência</li>
    <li>Imutabilidade</li>
    <li>Rapidez nas transações</li>
  </ul>

  <p>
    Bitcoin, criada em 2009, foi a primeira criptomoeda e continua sendo a mais conhecida e valiosa. Desde então, surgiram milhares de outras criptomoedas, cada uma com suas próprias características e propostas.
  </p>

  <h2>Principais Criptomoedas</h2>

  <h3>Bitcoin (BTC)</h3>
  <p>
    O Bitcoin é a primeira e mais valiosa criptomoeda. Foi criada por Satoshi Nakamoto em 2009, com o objetivo de fornecer uma alternativa descentralizada ao sistema financeiro tradicional. É conhecida pela sua segurança, descentralização e oferta limitada de 21 milhões de moedas.
  </p>

  <h3>Ethereum (ETH)</h3>
  <p>
    Ethereum foi lançada em 2015 por Vitalik Buterin. Ao contrário do Bitcoin, que é essencialmente uma reserva de valor, o Ethereum permite a criação de contratos inteligentes e aplicações descentralizadas (dApps). A sua criptomoeda nativa é o Ether (ETH).
  </p>

  <h3>Binance Coin (BNB)</h3>
  <p>
    Binance Coin foi criada pela Binance, uma das maiores exchanges de criptomoedas do mundo. Inicialmente, o BNB era usado para pagar taxas dentro da plataforma Binance, mas agora também é utilizado em várias outras aplicações, incluindo pagamentos e investimentos.
  </p>

  <h3>Cardano (ADA)</h3>
  <p>
    Cardano é uma plataforma de blockchain que pretende ser mais segura e escalável do que seus concorrentes. A criptomoeda nativa da rede é o ADA, que é usada para enviar e receber valor e participar da governança do projeto.
  </p>

  <h3>Solana (SOL)</h3>
  <p>
    Solana é uma plataforma de blockchain conhecida por sua alta velocidade e baixo custo em transações. É considerada uma das alternativas mais promissoras ao Ethereum, especialmente para aplicações descentralizadas e finanças descentralizadas (DeFi).
  </p>
</ion-content>
